USE [SW_Interfaces_ANZ]
GO
/****** Object:  Table [dbo].[J_INTF_B2B_AR_ACCT]    Script Date: 3/07/2023 10:01:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[J_INTF_B2B_AR_ACCT](
	[ROWID] [bigint] IDENTITY(1,1) NOT NULL,
	[INSTALL_COUNTRY] [nvarchar](60) NOT NULL,
	[ORGANIZATION_ID] [int] NOT NULL,
	[EBMID] [nvarchar](256) NOT NULL,
	[PARTY_ID] [bigint] NOT NULL,
	[ACCT_ID] [nvarchar](30) NOT NULL,
	[CURRENCY_ID] [nvarchar](3) NOT NULL,
	[BALANCE] [decimal](17, 6) NULL,
	[CREDIT_LIMIT] [decimal](17, 6) NULL,
	[CREDIT_TYPE] [nvarchar](30) NULL,
	[PAYMENT_TERMS_CODE] [nvarchar](30) NULL,
	[LAST_ACTIVITY_DATE] [datetime] NULL,
	[SETUP_DATE] [datetime] NULL,
	[EBM_CREATION_DATE] [datetime] NOT NULL,
	[CREATE_DATE] [datetime] NULL,
	[CREATE_USER_ID] [nvarchar](60) NULL,
	[UPDATE_DATE] [datetime] NULL,
	[UPDATE_USER_ID] [nvarchar](60) NULL,
	[RECORD_STATE] [nvarchar](60) NULL,
 CONSTRAINT [PK_J_INTF_B2B_AR_ACCT] PRIMARY KEY CLUSTERED 
(
	[ROWID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[J_INTF_B2B_CARRIER_CODE]    Script Date: 3/07/2023 10:01:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[J_INTF_B2B_CARRIER_CODE](
	[ROWID] [bigint] IDENTITY(1,1) NOT NULL,
	[ORGANIZATION_ID] [int] NOT NULL,
	[CARRIER_CODE] [nvarchar](10) NOT NULL,
	[INSTALL_COUNTRY] [nvarchar](60) NOT NULL,
	[DESCRIPTION] [nvarchar](250) NULL,
	[SWP_CARRIER_TAX_ID] [nvarchar](20) NULL,
	[ADDRESS1] [nvarchar](254) NULL,
	[ADDRESS2] [nvarchar](254) NULL,
	[ADDRESS3] [nvarchar](254) NULL,
	[COMUNA] [nvarchar](254) NULL,
	[CITY] [nvarchar](254) NULL,
	[STATE] [nvarchar](254) NULL,
	[POSTAL_CODE] [nvarchar](254) NULL,
	[EBMID] [nvarchar](256) NOT NULL,
	[EBM_CREATION_DATE] [datetime] NOT NULL,
	[CREATE_DATE] [datetime] NULL,
	[CREATE_USER_ID] [nvarchar](60) NULL,
	[UPDATE_DATE] [datetime] NULL,
	[UPDATE_USER_ID] [nvarchar](60) NULL,
	[RECORD_STATE] [nvarchar](60) NULL,
	[RTL_LOC_ID] [int] NOT NULL,
 CONSTRAINT [PK_J_INTF_B2B_CARRIER_CODE] PRIMARY KEY CLUSTERED 
(
	[ROWID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[J_INTF_B2B_PREFERRED_CARRIER]    Script Date: 3/07/2023 10:01:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[J_INTF_B2B_PREFERRED_CARRIER](
	[ROWID] [bigint] IDENTITY(1,1) NOT NULL,
	[ORGANIZATION_ID] [int] NOT NULL,
	[SOURCE_COUNTRY] [nvarchar](3) NOT NULL,
	[SOURCE_STATE] [nvarchar](8) NOT NULL,
	[DEST_COUNTRY] [nvarchar](3) NOT NULL,
	[DEST_STATE] [nvarchar](8) NOT NULL,
	[CARRIER_CODE] [nvarchar](30) NOT NULL,
	[EBMID] [nvarchar](256) NOT NULL,
	[EBM_CREATION_DATE] [datetime] NOT NULL,
	[CREATE_DATE] [datetime] NULL,
	[CREATE_USER_ID] [nvarchar](60) NULL,
	[UPDATE_DATE] [datetime] NULL,
	[UPDATE_USER_ID] [nvarchar](60) NULL,
	[RECORD_STATE] [nvarchar](60) NULL,
	[RTL_LOC_ID] [int] NOT NULL,
 CONSTRAINT [PK_J_INTF_B2B_PREFERRED_CARRIER] PRIMARY KEY CLUSTERED 
(
	[ROWID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[J_INTF_INV_VALID_DESTINATIONS]    Script Date: 3/07/2023 10:01:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[J_INTF_INV_VALID_DESTINATIONS](
	[ROWID] [bigint] IDENTITY(1,1) NOT NULL,
	[INSTALL_COUNTRY] [nvarchar](60) NOT NULL,
	[EBMID] [nvarchar](256) NOT NULL,
	[EBM_CREATION_DATE] [datetime] NOT NULL,
	[ORGANIZATION_ID] [int] NOT NULL,
	[RTL_LOC_ID] [nvarchar](254) NOT NULL,
	[DOCUMENT_TYPECODE] [nvarchar](30) NOT NULL,
	[DOCUMENT_SUBTYPECODE] [nvarchar](30) NOT NULL,
	[DESTINATION_TYPE_ENUM] [nvarchar](30) NOT NULL,
	[DESTINATION_ID] [nvarchar](60) NOT NULL,
	[DESCRIPTION] [nvarchar](254) NULL,
	[SORT_ORDER] [int] NULL,
	[CREATE_DATE] [datetime] NULL,
	[CREATE_USER_ID] [nvarchar](60) NULL,
	[UPDATE_DATE] [datetime] NULL,
	[UPDATE_USER_ID] [nvarchar](60) NULL,
	[RECORD_STATE] [nvarchar](60) NULL,
 CONSTRAINT [pk_J_INTF_INV_VALID_DESTINATIONS] PRIMARY KEY CLUSTERED 
(
	[ROWID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[J_INTF_ITEM]    Script Date: 3/07/2023 10:01:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[J_INTF_ITEM](
	[ROWID] [bigint] IDENTITY(1,1) NOT NULL,
	[INSTALL_COUNTRY] [nvarchar](60) NOT NULL,
	[ORGANIZATION_ID] [int] NULL,
	[RTL_LOC_ID] [int] NULL,
	[EBMID] [nvarchar](256) NOT NULL,
	[ITEM_ID] [nvarchar](40) NULL,
	[PARENT_ITEM_ID] [nvarchar](60) NULL,
	[Item_Typcode] [nvarchar](40) NULL,
	[DESCRIPTION] [nvarchar](256) NULL,
	[Department_ID] [nvarchar](60) NULL,
	[Unit_of_Measure_Code] [nvarchar](3) NULL,
	[Tax_Group_ID] [nvarchar](40) NULL,
	[Disallow_Send_Sale_Flag] [bit] NULL,
	[Disallow_Special_Order_Flag] [bit] NULL,
	[Item_Availability_Code] [nvarchar](100) NULL,
	[Not_Inventoried_Flag] [bit] NULL,
	[Special_order_Lead_Days] [nvarchar](250) NULL,
	[Stock_Status] [nvarchar](10) NOT NULL,
	[Restriction_Category] [nvarchar](40) NULL,
	[Ship_Weight] [decimal](12, 3) NULL,
	[Disposition_code] [nvarchar](150) NULL,
	[item_orderable_code] [nvarchar](100) NULL,
	[B2BTintablePaint] [nvarchar](256) NULL,
	[B2BProductSeriesNumber] [nvarchar](256) NULL,
	[B2BProductSeriesDescription] [nvarchar](256) NULL,
	[B2BProductSize] [nvarchar](256) NULL,
	[B2BPaintBase] [nvarchar](256) NULL,
	[B2BfreightCodeDao] [nvarchar](40) NULL,
	[b2bImportSerial] [bit] NULL,
	[B2B_PACKING_VOLUME] [decimal](11, 4) NULL,
	[swp_un_num] [nvarchar](25) NULL,
	[EBM_CREATION_DATE] [datetime] NOT NULL,
	[CREATE_DATE] [datetime] NULL,
	[CREATE_USER_ID] [nvarchar](60) NULL,
	[UPDATE_DATE] [datetime] NULL,
	[UPDATE_USER_ID] [nvarchar](60) NULL,
	[RECORD_STATE] [nvarchar](60) NULL,
	[CATEGORY_SET_DESC] [nvarchar](240) NULL,
	[special_order_item_flag] [bit] NULL,
	[RECORD_STATE_SPECIAL_ORDER] [nvarchar](60) NULL,
	[swp_item_category] [varchar](120) NULL,
	[swp_uom] [varchar](120) NULL,
	[WPL_FLAG] [bit] NULL,
	[RECORD_STATE_WPL] [nvarchar](60) NULL,
	[PACK_SIZE] [decimal](11, 4) NULL,
	[RECORD_STATE_TINTED] [nvarchar](60) NULL,
	[SWP_WEIGHT_IN_LT] [decimal](12, 3) NULL,
 CONSTRAINT [PK_J_INTF_ITEM] PRIMARY KEY CLUSTERED 
(
	[ROWID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[J_INTF_ITEM_XREF]    Script Date: 3/07/2023 10:01:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[J_INTF_ITEM_XREF](
	[ROWID] [bigint] IDENTITY(1,1) NOT NULL,
	[INSTALL_COUNTRY] [nvarchar](20) NULL,
	[ORGANIZATION_ID] [int] NULL,
	[EBMID] [nvarchar](256) NOT NULL,
	[EBM_CREATION_DATE] [datetime] NOT NULL,
	[ITEM_NUMBER] [nvarchar](40) NOT NULL,
	[UPC] [nvarchar](255) NULL,
	[CREATE_DATE] [datetime] NULL,
	[CREATE_USER_ID] [nvarchar](60) NULL,
	[UPDATE_DATE] [datetime] NULL,
	[UPDATE_USER_ID] [nvarchar](60) NULL,
	[RECORD_STATE] [nvarchar](60) NULL,
 CONSTRAINT [PK_J_INTF_ITEM_XREF] PRIMARY KEY CLUSTERED 
(
	[ROWID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[J_INTF_NON_PHY_ITEM]    Script Date: 3/07/2023 10:01:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[J_INTF_NON_PHY_ITEM](
	[ROWID] [bigint] IDENTITY(1,1) NOT NULL,
	[INSTALL_COUNTRY] [nvarchar](60) NOT NULL,
	[ORGANIZATION_ID] [int] NOT NULL,
	[RTL_LOC_ID] [int] NULL,
	[EBMID] [nvarchar](256) NOT NULL,
	[EBM_CREATION_DATE] [datetime] NOT NULL,
	[ITEM_NUMBER] [nvarchar](240) NULL,
	[PARENT_ITEM_ID] [nvarchar](240) NULL,
	[NAME] [nvarchar](240) NULL,
	[DESCRIPTION] [nvarchar](240) NULL,
	[DEPARTMENT_ID] [nvarchar](60) NULL,
	[UNIT_OF_MEASURE] [nvarchar](3) NOT NULL,
	[DISALLOW_SEND_SALE_FLAG] [bit] NULL,
	[DISALLOW_SPECIAL_ORDER_FLAG] [bit] NULL,
	[ITEM_AVAILABILITY_CODE] [nvarchar](20) NULL,
	[NOT_INVENTORIED_FLAG] [bit] NULL,
	[PROMPT_FOR_PRICE_FLAG] [bit] NULL,
	[STOCK_STATUS] [nvarchar](60) NOT NULL,
	[RESTRICTION_CATAGORY] [nvarchar](60) NULL,
	[NON_PHYSICAL_ITEM_TYPE_CODE] [nvarchar](60) NULL,
	[NON_PHYSICAL_ITEM_SUBTYPE] [int] NOT NULL,
	[SHIP_WEIGHT] [float] NULL,
	[B2BINCLUDE_IN_FREIGHT_TOTAL] [bit] NULL,
	[B2BINCLUDE_IN_LABOR_TOTAL] [bit] NULL,
	[B2BTINTABLE_PAINT] [nvarchar](60) NULL,
	[B2B_PRODUCT_SERIES_NBR] [nvarchar](60) NULL,
	[B2BPRODUCT_SERIES_DESCRIPTION] [nvarchar](60) NULL,
	[B2B_PRODUCT_SIZE] [nvarchar](60) NULL,
	[B2BPAINT_BASE] [nvarchar](60) NULL,
	[B2BFREIGHT_DAO] [nvarchar](60) NULL,
	[B2BIMPORT_SERIAL] [nvarchar](20) NULL,
	[B2BPACKING_VOLUME] [nvarchar](1) NULL,
	[CREATE_DATE] [datetime] NULL,
	[CREATE_USER_ID] [nvarchar](60) NULL,
	[UPDATE_DATE] [datetime] NULL,
	[UPDATE_USER_ID] [nvarchar](60) NULL,
	[RECORD_STATE] [nvarchar](60) NULL,
	[swp_item_category] [varchar](120) NULL,
	[swp_uom] [varchar](120) NULL,
	[Tax_Group_ID] [nvarchar](40) NULL,
 CONSTRAINT [PK_J_INTF_NON_PHY_ITEM] PRIMARY KEY CLUSTERED 
(
	[ROWID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[J_INTF_ORDERS]    Script Date: 3/07/2023 10:01:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[J_INTF_ORDERS](
	[ROWID] [bigint] IDENTITY(1,1) NOT NULL,
	[INSTALL_COUNTRY] [nvarchar](60) NOT NULL,
	[ORGANIZATION_ID] [int] NOT NULL,
	[RTL_LOC_ID] [int] NOT NULL,
	[INVCTL_DOCUMENT_ID] [nvarchar](60) NULL,
	[DOCUMENT_SUBTYPECODE] [nvarchar](30) NULL,
	[CREATE_DATE_TIMESTAMP] [datetime] NULL,
	[ORIGINATOR_ID] [nvarchar](60) NULL,
	[ORGANIZATION_NAME] [nvarchar](254) NULL,
	[EBMID] [nvarchar](60) NULL,
	[DESCRIPTION] [nvarchar](254) NULL,
	[SHIPMENTNUMBER] [nvarchar](254) NULL,
	[CONTROL_NUMBER] [nvarchar](254) NULL,
	[CREATE_DATE] [datetime] NULL,
	[CREATE_USER_ID] [nvarchar](60) NULL,
	[UPDATE_DATE] [datetime] NULL,
	[UPDATE_USER_ID] [nvarchar](60) NULL,
	[RECORD_STATE] [nvarchar](60) NULL,
	[RECORD_STATE_CARTON] [nvarchar](60) NULL,
	[EBM_CREATION_DATE] [datetime] NULL,
	[PO_NUMBER] [nvarchar](60) NULL,
	[STATUS] [nvarchar](60) NULL,
	[EXPECTED_DELIVERY_DATE] [datetime] NULL,
 CONSTRAINT [PK_J_INTF_ORDERS] PRIMARY KEY CLUSTERED 
(
	[ROWID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[J_INTF_ORDERS_LINE_ITEMS]    Script Date: 3/07/2023 10:01:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[J_INTF_ORDERS_LINE_ITEMS](
	[ROWID] [bigint] IDENTITY(1,1) NOT NULL,
	[INSTALL_COUNTRY] [nvarchar](60) NOT NULL,
	[ORGANIZATION_ID] [int] NOT NULL,
	[RTL_LOC_ID] [int] NOT NULL,
	[INVCTL_DOCUMENT_ID] [nvarchar](60) NULL,
	[INVCTL_DOCUMENT_LINE_NBR] [int] NULL,
	[INVENTORY_ITEM_ID] [nvarchar](60) NULL,
	[EXPECTED_COUNT] [int] NULL,
	[ORIGINAL_LOC_ID] [nvarchar](60) NULL,
	[CONTROL_NUMBER] [nvarchar](254) NULL,
	[CREATE_DATE] [datetime] NULL,
	[CREATE_USER_ID] [nvarchar](60) NULL,
	[UPDATE_DATE] [datetime] NULL,
	[UPDATE_USER_ID] [nvarchar](60) NULL,
	[RECORD_STATE] [nvarchar](60) NULL,
	[DOCUMENT_SUBTYPECODE] [nvarchar](30) NULL,
	[RECORD_STATE_SPECIAL_ORDER] [nvarchar](60) NULL,
	[EBM_CREATION_DATE] [datetime] NULL,
	[PO_NUMBER] [nvarchar](60) NULL,
	[STATUS] [nvarchar](60) NULL,
 CONSTRAINT [PK_J_INTF_ORDERS_LINE_ITEMS] PRIMARY KEY CLUSTERED 
(
	[ROWID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[J_INTF_ORDERS_LINE_ITEMS_PO]    Script Date: 3/07/2023 10:01:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[J_INTF_ORDERS_LINE_ITEMS_PO](
	[ROWID] [bigint] IDENTITY(1,1) NOT NULL,
	[INSTALL_COUNTRY] [nvarchar](60) NOT NULL,
	[ORGANIZATION_ID] [int] NOT NULL,
	[RTL_LOC_ID] [int] NOT NULL,
	[INVCTL_DOCUMENT_ID] [nvarchar](60) NULL,
	[INVCTL_DOCUMENT_LINE_NBR] [int] NULL,
	[INVENTORY_ITEM_ID] [nvarchar](60) NULL,
	[EXPECTED_COUNT] [int] NULL,
	[ORIGINAL_LOC_ID] [nvarchar](60) NULL,
	[CONTROL_NUMBER] [nvarchar](254) NULL,
	[CREATE_DATE] [datetime] NULL,
	[CREATE_USER_ID] [nvarchar](60) NULL,
	[UPDATE_DATE] [datetime] NULL,
	[UPDATE_USER_ID] [nvarchar](60) NULL,
	[RECORD_STATE] [nvarchar](60) NULL,
	[DOCUMENT_SUBTYPECODE] [nvarchar](30) NULL,
	[RECORD_STATE_SPECIAL_ORDER] [nvarchar](60) NULL,
	[EBM_CREATION_DATE] [datetime] NULL,
	[PO_NUMBER] [nvarchar](60) NULL,
	[STATUS] [nvarchar](60) NULL,
 CONSTRAINT [PK_J_INTF_ORDERS_LINE_ITEMS_PO] PRIMARY KEY CLUSTERED 
(
	[ROWID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[J_INTF_ORDERS_PO]    Script Date: 3/07/2023 10:01:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[J_INTF_ORDERS_PO](
	[ROWID] [bigint] IDENTITY(1,1) NOT NULL,
	[INSTALL_COUNTRY] [nvarchar](60) NOT NULL,
	[ORGANIZATION_ID] [int] NOT NULL,
	[RTL_LOC_ID] [int] NOT NULL,
	[INVCTL_DOCUMENT_ID] [nvarchar](60) NULL,
	[DOCUMENT_SUBTYPECODE] [nvarchar](30) NULL,
	[CREATE_DATE_TIMESTAMP] [datetime] NULL,
	[ORIGINATOR_ID] [nvarchar](60) NULL,
	[ORGANIZATION_NAME] [nvarchar](254) NULL,
	[EBMID] [nvarchar](60) NULL,
	[DESCRIPTION] [nvarchar](254) NULL,
	[SHIPMENTNUMBER] [nvarchar](254) NULL,
	[CONTROL_NUMBER] [nvarchar](254) NULL,
	[CREATE_DATE] [datetime] NULL,
	[CREATE_USER_ID] [nvarchar](60) NULL,
	[UPDATE_DATE] [datetime] NULL,
	[UPDATE_USER_ID] [nvarchar](60) NULL,
	[RECORD_STATE] [nvarchar](60) NULL,
	[RECORD_STATE_CARTON] [nvarchar](60) NULL,
	[EBM_CREATION_DATE] [datetime] NULL,
	[PO_NUMBER] [nvarchar](60) NULL,
	[STATUS] [nvarchar](60) NULL,
	[EXPECTED_DELIVERY_DATE] [datetime] NULL,
 CONSTRAINT [PK_J_INTF_ORDERS_PO] PRIMARY KEY CLUSTERED 
(
	[ROWID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[J_INTF_PARTY]    Script Date: 3/07/2023 10:01:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[J_INTF_PARTY](
	[ROWID] [bigint] IDENTITY(1,1) NOT NULL,
	[INSTALL_COUNTRY] [nvarchar](60) NOT NULL,
	[EBMID] [nvarchar](256) NOT NULL,
	[ORGANIZATION_ID] [int] NOT NULL,
	[PARTY_ID] [bigint] NOT NULL,
	[CUST_ID] [nvarchar](30) NOT NULL,
	[FIRST_NAME] [nvarchar](150) NULL,
	[MIDDLE_NAME] [nvarchar](60) NULL,
	[LAST_NAME] [nvarchar](150) NULL,
	[ORGANIZATION_NAME] [nvarchar](240) NULL,
	[FEDERAL_TAX_ID] [nvarchar](240) NULL,
	[ADDRESS1] [nvarchar](640) NULL,
	[ADDRESS2] [nvarchar](490) NULL,
	[CITY] [nvarchar](60) NULL,
	[STATE] [nvarchar](60) NULL,
	[POSTAL_CODE] [nvarchar](60) NULL,
	[COUNTRY] [nvarchar](60) NULL,
	[TELEPHONE_NUMBER] [nvarchar](40) NULL,
	[TELEPHONE4] [nvarchar](40) NULL,
	[EMAIL_ADDRESS] [nvarchar](2000) NULL,
	[COMMERCIAL_CUSTOMER_FLAG] [bit] NULL,
	[B2BPARENTCUSTOMERID] [nvarchar](250) NULL,
	[B2BTenderDefault] [nvarchar](30) NULL,
	[B2BSalesRep1TerritoryCode] [nvarchar](60) NULL,
	[B2BPoRequired] [bit] NULL,
	[B2BPreferredLocale] [nvarchar](10) NULL,
	[B2BCustomerTypeCode] [nvarchar](30) NULL,
	[B2BCustomerStatusCode] [nvarchar](30) NULL,
	[B2B_Credit_Limit_Type] [nvarchar](30) NULL,
	[cacGroup] [nvarchar](150) NULL,
	[cacCode] [nvarchar](150) NULL,
	[SwpChannelCode] [nvarchar](30) NULL,
	[SwpProfileClass] [nvarchar](30) NULL,
	[SwpClassification] [nvarchar](240) NULL,
	[SwpBusinessPurpose] [nvarchar](150) NULL,
	[SwpIdDocumentType] [nvarchar](150) NULL,
	[EBM_CREATION_DATE] [datetime] NOT NULL,
	[CREATE_DATE] [datetime] NULL,
	[CREATE_USER_ID] [nvarchar](60) NULL,
	[UPDATE_DATE] [datetime] NULL,
	[UPDATE_USER_ID] [nvarchar](60) NULL,
	[RECORD_STATE] [nvarchar](60) NULL,
	[XXSW_ANZ_TAX_EXEMPTION_FLAG] [bit] NULL,
	[RECORD_STATE_TAX_EXEMPTION] [nvarchar](60) NULL,
	[EXPIRATION_DATE_TAX_EXEMPTION] [datetime] NULL,
	[B2B_SUPPRESS_PRICE_FLAG] [bit] NULL,
	[DIRECT_SHIP_SALES_ORDER] [bit] NULL,
 CONSTRAINT [PK_J_INTF_PARTY] PRIMARY KEY CLUSTERED 
(
	[ROWID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[J_INTF_PARTY_ADDRESS]    Script Date: 3/07/2023 10:01:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[J_INTF_PARTY_ADDRESS](
	[ROWID] [bigint] IDENTITY(1,1) NOT NULL,
	[INSTALL_COUNTRY] [nvarchar](60) NOT NULL,
	[EBMID] [nvarchar](256) NOT NULL,
	[ORGANIZATION_ID] [int] NOT NULL,
	[PARTY_ID] [bigint] NOT NULL,
	[SEQUENCE] [bigint] NULL,
	[ADDRESS1] [nvarchar](640) NULL,
	[ADDRESS2] [nvarchar](490) NULL,
	[CITY] [nvarchar](60) NULL,
	[STATE] [nvarchar](60) NULL,
	[POSTAL_CODE] [nvarchar](60) NULL,
	[COUNTRY] [nvarchar](60) NULL,
	[PRIMARY_FLAG] [bit] NULL,
	[B2BType] [nvarchar](60) NULL,
	[B2BFIRST_NAME] [nvarchar](60) NULL,
	[B2BLAST_NAME] [nvarchar](60) NULL,
	[B2BTELEPHONE] [nvarchar](40) NULL,
	[B2BEmailAddress] [nvarchar](200) NULL,
	[B2bSITEID] [nvarchar](30) NULL,
	[B2BVOID] [bit] NULL,
	[B2BSHIPTOCODE] [nvarchar](10) NULL,
	[B2BSUCURUSAL] [nvarchar](150) NULL,
	[SWPSHIPTOSITENUM] [nvarchar](150) NULL,
	[SWPREGION] [nvarchar](60) NULL,
	[SWPCOMUNA] [nvarchar](60) NULL,
	[B2BSalesRep1TerritoryCode] [nvarchar](60) NULL,
	[B2BPARENTCUSTOMERID] [nvarchar](250) NULL,
	[EBM_CREATION_DATE] [datetime] NOT NULL,
	[CREATE_DATE] [datetime] NULL,
	[CREATE_USER_ID] [nvarchar](60) NULL,
	[UPDATE_DATE] [datetime] NULL,
	[UPDATE_USER_ID] [nvarchar](60) NULL,
	[RECORD_STATE] [nvarchar](60) NULL,
	[RECORD_STATE_PARENT_CHILD] [nvarchar](60) NULL,
	[RECORD_STATE_VOID_FLAG] [nvarchar](60) NULL,
 CONSTRAINT [PK_J_INTF_PARTY_ADDRESS] PRIMARY KEY CLUSTERED 
(
	[ROWID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[J_INTF_PARTY_ADDRESS_CHILD_BILL_TO]    Script Date: 3/07/2023 10:01:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[J_INTF_PARTY_ADDRESS_CHILD_BILL_TO](
	[ROWID] [bigint] IDENTITY(1,1) NOT NULL,
	[INSTALL_COUNTRY] [nvarchar](60) NOT NULL,
	[EBMID] [nvarchar](256) NOT NULL,
	[ORGANIZATION_ID] [int] NOT NULL,
	[PARTY_ID] [bigint] NOT NULL,
	[SEQUENCE] [bigint] NULL,
	[ADDRESS1] [nvarchar](640) NULL,
	[ADDRESS2] [nvarchar](490) NULL,
	[CITY] [nvarchar](60) NULL,
	[STATE] [nvarchar](60) NULL,
	[POSTAL_CODE] [nvarchar](60) NULL,
	[COUNTRY] [nvarchar](60) NULL,
	[PRIMARY_FLAG] [bit] NULL,
	[B2BType] [nvarchar](60) NULL,
	[B2BFIRST_NAME] [nvarchar](60) NULL,
	[B2BLAST_NAME] [nvarchar](60) NULL,
	[B2BTELEPHONE] [nvarchar](40) NULL,
	[B2BEmailAddress] [nvarchar](200) NULL,
	[B2bSITEID] [nvarchar](30) NULL,
	[B2BVOID] [bit] NULL,
	[B2BSHIPTOCODE] [nvarchar](10) NULL,
	[B2BSUCURUSAL] [nvarchar](150) NULL,
	[SWPSHIPTOSITENUM] [nvarchar](150) NULL,
	[SWPREGION] [nvarchar](60) NULL,
	[SWPCOMUNA] [nvarchar](60) NULL,
	[B2BSalesRep1TerritoryCode] [nvarchar](60) NULL,
	[B2BPARENTCUSTOMERID] [nvarchar](250) NULL,
	[EBM_CREATION_DATE] [datetime] NOT NULL,
	[CREATE_DATE] [datetime] NULL,
	[CREATE_USER_ID] [nvarchar](60) NULL,
	[UPDATE_DATE] [datetime] NULL,
	[UPDATE_USER_ID] [nvarchar](60) NULL,
	[RECORD_STATE] [nvarchar](60) NULL,
	[RECORD_STATE_PARENT_CHILD] [nvarchar](60) NULL,
	[RECORD_STATE_VOID_FLAG] [nvarchar](60) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[J_INTF_PARTY_SALESPERSON]    Script Date: 3/07/2023 10:01:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[J_INTF_PARTY_SALESPERSON](
	[ROWID] [bigint] IDENTITY(1,1) NOT NULL,
	[INSTALL_COUNTRY] [nvarchar](60) NOT NULL,
	[EBMID] [nvarchar](256) NOT NULL,
	[ORGANIZATION_ID] [int] NOT NULL,
	[PARTY_ID] [bigint] NOT NULL,
	[CUST_ID] [nvarchar](60) NOT NULL,
	[FIRST_NAME] [nvarchar](150) NULL,
	[ORGANIZATION_NAME] [nvarchar](320) NULL,
	[EMPLOYEE_ID] [nvarchar](60) NULL,
	[B2B_PREFERRED_LOCALE] [nvarchar](60) NULL,
	[B2B_CUSTOMER_STATUS] [nvarchar](60) NULL,
	[EBM_CREATION_DATE] [datetime] NOT NULL,
	[CREATE_DATE] [datetime] NULL,
	[CREATE_USER_ID] [nvarchar](60) NULL,
	[UPDATE_DATE] [datetime] NULL,
	[UPDATE_USER_ID] [nvarchar](60) NULL,
	[RECORD_STATE] [nvarchar](60) NULL,
 CONSTRAINT [PK_J_INTF_PARTY_SALESPERSON] PRIMARY KEY CLUSTERED 
(
	[ROWID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[J_INTF_PARTY_TELEPHONE]    Script Date: 3/07/2023 10:01:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[J_INTF_PARTY_TELEPHONE](
	[ROWID] [bigint] IDENTITY(1,1) NOT NULL,
	[INSTALL_COUNTRY] [nvarchar](60) NOT NULL,
	[EBMID] [nvarchar](256) NOT NULL,
	[ORGANIZATION_ID] [int] NOT NULL,
	[PARTY_ID] [bigint] NOT NULL,
	[TELEPHONE] [nvarchar](40) NULL,
	[TELEPHONE_TYPE] [nvarchar](40) NULL,
	[PRIMARY_FLAG] [bit] NULL,
	[EBM_CREATION_DATE] [datetime] NOT NULL,
	[CREATE_DATE] [datetime] NULL,
	[CREATE_USER_ID] [nvarchar](60) NULL,
	[UPDATE_DATE] [datetime] NULL,
	[UPDATE_USER_ID] [nvarchar](60) NULL,
	[RECORD_STATE] [nvarchar](60) NULL,
 CONSTRAINT [PK_J_INTF_PARTY_TELEPHONE] PRIMARY KEY CLUSTERED 
(
	[ROWID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[J_INTF_PAYMENT_TERMS]    Script Date: 3/07/2023 10:01:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[J_INTF_PAYMENT_TERMS](
	[ROWID] [bigint] IDENTITY(1,1) NOT NULL,
	[INSTALL_COUNTRY] [nvarchar](60) NOT NULL,
	[ORGANIZATION_ID] [nvarchar](60) NOT NULL,
	[EBMID] [nvarchar](256) NOT NULL,
	[EBM_CREATION_DATE] [datetime] NOT NULL,
	[TERMS_CODE] [nvarchar](30) NOT NULL,
	[TERMS_DESCRIPTION] [nvarchar](100) NULL,
	[TERMS_DAYS] [bigint] NULL,
	[CREATE_DATE] [datetime] NULL,
	[CREATE_USER_ID] [nvarchar](60) NULL,
	[UPDATE_DATE] [datetime] NULL,
	[UPDATE_USER_ID] [nvarchar](60) NULL,
	[RECORD_STATE] [nvarchar](60) NULL,
 CONSTRAINT [PK_J_INTF_PAYMENT_TERMS] PRIMARY KEY CLUSTERED 
(
	[ROWID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[J_INTF_PROJECTS]    Script Date: 3/07/2023 10:01:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[J_INTF_PROJECTS](
	[ROWID] [bigint] IDENTITY(1,1) NOT NULL,
	[INSTALL_COUNTRY] [nvarchar](60) NOT NULL,
	[EBMID] [nvarchar](256) NOT NULL,
	[EBM_CREATION_DATE] [datetime] NOT NULL,
	[ORGANIZATION_ID] [int] NOT NULL,
	[PARTY_ID] [bigint] NOT NULL,
	[PROJECT_NAME] [nvarchar](60) NOT NULL,
	[EFFECTIVE_DATE] [nvarchar](60) NOT NULL,
	[EXPIRATION_DATE] [nvarchar](60) NULL,
	[DESCRIPTION] [nvarchar](max) NULL,
	[PROJECT_TYPE] [nvarchar](30) NULL,
	[CREATE_DATE] [datetime] NULL,
	[CREATE_USER_ID] [nvarchar](60) NULL,
	[UPDATE_DATE] [datetime] NULL,
	[UPDATE_USER_ID] [nvarchar](60) NULL,
	[RECORD_STATE] [nvarchar](60) NULL,
 CONSTRAINT [PK_J_INTF_PROJECTS] PRIMARY KEY CLUSTERED 
(
	[ROWID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[J_INTF_REASON_CODE]    Script Date: 3/07/2023 10:01:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[J_INTF_REASON_CODE](
	[ROWID] [bigint] IDENTITY(1,1) NOT NULL,
	[INSTALL_COUNTRY] [nvarchar](60) NOT NULL,
	[EBMID] [nvarchar](256) NOT NULL,
	[EBM_CREATION_DATE] [datetime] NOT NULL,
	[ORGANIZATION_ID] [int] NOT NULL,
	[REASON_CODE] [nvarchar](60) NOT NULL,
	[REASON_TYPE_CODE] [nvarchar](30) NOT NULL,
	[REASON_TYPE] [nvarchar](30) NOT NULL,
	[DESCRIPTION] [nvarchar](254) NULL,
	[BUCKET_ID] [nvarchar](60) NULL,
	[LOCATION_ID] [nvarchar](60) NULL,
	[MINIMUM_AMT] [decimal](17, 6) NULL,
	[MAXIMUM_AMT] [decimal](17, 6) NULL,
	[PARENT_CODE] [nvarchar](30) NULL,
	[COMMENT_REQ] [nvarchar](10) NULL,
	[INV_ACTION_CODE] [nvarchar](30) NULL,
	[SORT_ORDER] [int] NULL,
	[CREATE_DATE] [datetime] NULL,
	[CREATE_USER_ID] [nvarchar](60) NULL,
	[UPDATE_DATE] [datetime] NULL,
	[UPDATE_USER_ID] [nvarchar](60) NULL,
	[RECORD_STATE] [nvarchar](60) NULL,
 CONSTRAINT [PK_J_INTF_REASON_CODE] PRIMARY KEY CLUSTERED 
(
	[ROWID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[J_INTF_RETAIL_LOCATION]    Script Date: 3/07/2023 10:01:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[J_INTF_RETAIL_LOCATION](
	[ROWID] [bigint] IDENTITY(1,1) NOT NULL,
	[INSTALL_COUNTRY] [nvarchar](60) NOT NULL,
	[EBMID] [nvarchar](256) NOT NULL,
	[EBM_CREATION_DATE] [datetime] NOT NULL,
	[ORGANIZATION_ID] [int] NOT NULL,
	[RTL_LOC_ID] [nvarchar](254) NOT NULL,
	[STORE_NBR] [nvarchar](254) NULL,
	[STORE_NAME] [nvarchar](254) NULL,
	[DESCRIPTION] [nvarchar](254) NULL,
	[ADDRESS1] [nvarchar](254) NULL,
	[ADDRESS2] [nvarchar](254) NULL,
	[CITY] [nvarchar](254) NULL,
	[STATE] [varchar](30) NULL,
	[POSTAL_CODE] [nvarchar](10) NULL,
	[COUNTRY] [nvarchar](254) NULL,
	[TELEPHONE1] [nvarchar](32) NULL,
	[TELEPHONE2] [nvarchar](32) NULL,
	[DEFAULT_TAX_PERCENTAGE] [decimal](8, 6) NULL,
	[LOCALE] [nvarchar](30) NULL,
	[CURRENCY_ID] [nvarchar](3) NULL,
	[ALTERNATE_STORE_NBR] [nvarchar](254) NULL,
	[FEDERAL_TAX_ID] [nvarchar](30) NULL,
	[B2B_GENERIC_CUST_PARTY_ID] [nvarchar](30) NULL,
	[ZONA_FRANCA_STORE_FLAG] [bit] NULL,
	[SWP_COMUNA] [nvarchar](100) NULL,
	[CREATE_DATE] [datetime] NULL,
	[CREATE_USER_ID] [nvarchar](60) NULL,
	[UPDATE_DATE] [datetime] NULL,
	[UPDATE_USER_ID] [nvarchar](60) NULL,
	[RECORD_STATE] [nvarchar](60) NULL,
 CONSTRAINT [PK_J_INTF_RETAIL_LOCATION] PRIMARY KEY CLUSTERED 
(
	[ROWID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XXSW_ANZ_J_B2B_CRM_CUSTOMER_MESSAGE]    Script Date: 3/07/2023 10:01:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XXSW_ANZ_J_B2B_CRM_CUSTOMER_MESSAGE](
	[ROWID] [bigint] IDENTITY(1,1) NOT NULL,
	[INSTALL_COUNTRY] [nvarchar](60) NOT NULL,
	[ORGANIZATION_ID] [int] NOT NULL,
	[EBMID] [nvarchar](256) NOT NULL,
	[EBM_CREATION_DATE] [datetime] NOT NULL,
	[PARTY_ID] [bigint] NOT NULL,
	[RTL_LOC_ID] [bigint] NOT NULL,
	[WKSTN_ID] [bigint] NOT NULL,
	[CUSTOMER_MESSAGE_SEQ] [bigint] NOT NULL,
	[LAST_EDIT_BY] [nvarchar](20) NULL,
	[LAST_EDIT_DATE] [datetime] NULL,
	[MESSAGE_CREATE_DATE] [datetime] NULL,
	[PERMANENT_FLAG] [bit] NULL,
	[MESSAGE_TEXT] [nvarchar](max) NULL,
	[VOID_FLAG] [bit] NULL,
	[CREATE_DATE] [datetime] NULL,
	[CREATE_USER_ID] [nvarchar](60) NULL,
	[UPDATE_DATE] [datetime] NULL,
	[UPDATE_USER_ID] [nvarchar](60) NULL,
	[RECORD_STATE] [nvarchar](60) NULL,
 CONSTRAINT [PK_XXSW_ANZ_J_B2B_CRM_CUSTOMER_MESSAGE] PRIMARY KEY CLUSTERED 
(
	[ROWID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XXSW_ANZ_J_CRM_CUSTOMER_NOTES]    Script Date: 3/07/2023 10:01:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XXSW_ANZ_J_CRM_CUSTOMER_NOTES](
	[ROWID] [bigint] IDENTITY(1,1) NOT NULL,
	[INSTALL_COUNTRY] [nvarchar](60) NOT NULL,
	[ORGANIZATION_ID] [int] NOT NULL,
	[EBMID] [nvarchar](256) NOT NULL,
	[EBM_CREATION_DATE] [datetime] NOT NULL,
	[PARTY_ID] [bigint] NOT NULL,
	[NOTE_SEQ] [bigint] NOT NULL,
	[NOTE] [nvarchar](max) NULL,
	[CREATOR_PARTY_ID] [nvarchar](254) NULL,
	[NOTE_TIMESTAMP] [datetime] NULL,
	[B2B_CREATOR_EMPLOYEE_ID] [nvarchar](60) NULL,
	[CREATE_DATE] [datetime] NULL,
	[CREATE_USER_ID] [nvarchar](60) NULL,
	[UPDATE_DATE] [datetime] NULL,
	[UPDATE_USER_ID] [nvarchar](60) NULL,
	[RECORD_STATE] [nvarchar](60) NULL,
 CONSTRAINT [PK_XXSW_ANZ_J_CRM_CUSTOMER_NOTES] PRIMARY KEY CLUSTERED 
(
	[ROWID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XXSW_ANZ_J_INTF_B2B_ITEM_FREIGHT_CODE]    Script Date: 3/07/2023 10:01:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XXSW_ANZ_J_INTF_B2B_ITEM_FREIGHT_CODE](
	[ROWID] [bigint] IDENTITY(1,1) NOT NULL,
	[INSTALL_COUNTRY] [nvarchar](60) NOT NULL,
	[ORGANIZATION_ID] [int] NOT NULL,
	[FREIGHT_CODE] [nvarchar](30) NOT NULL,
	[HAZMAT] [smallint] NULL,
	[DESCRIPTION] [nvarchar](250) NULL,
	[SHIP_NAME] [nvarchar](30) NULL,
	[CLASS] [nvarchar](10) NULL,
	[SUB_RISK] [nvarchar](10) NULL,
	[UN_NO] [nvarchar](10) NULL,
	[PACK_GROUP] [nvarchar](15) NULL,
	[EBMID] [nvarchar](256) NOT NULL,
	[EBM_CREATION_DATE] [datetime] NOT NULL,
	[CREATE_DATE] [datetime] NULL,
	[CREATE_USER_ID] [nvarchar](60) NULL,
	[UPDATE_DATE] [datetime] NULL,
	[UPDATE_USER_ID] [nvarchar](60) NULL,
	[RECORD_STATE] [nvarchar](60) NULL,
 CONSTRAINT [PK_XXSW_ANZ_J_INTF_B2B_ITEM_FREIGHT_CODE] PRIMARY KEY CLUSTERED 
(
	[ROWID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XXSW_ANZ_J_INTF_BILL_OF_MATERIALS]    Script Date: 3/07/2023 10:01:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XXSW_ANZ_J_INTF_BILL_OF_MATERIALS](
	[ROWID] [bigint] IDENTITY(1,1) NOT NULL,
	[INSTALL_COUNTRY] [nvarchar](60) NOT NULL,
	[ORGANIZATION_ID] [int] NOT NULL,
	[KIT_ITEM_ID] [nvarchar](60) NOT NULL,
	[COMPONENT_ITEM_ID] [nvarchar](60) NOT NULL,
	[DISPLAY_ORDER] [int] NULL,
	[QUANTITY_PER_KIT] [int] NULL,
	[BEGIN_DATETIME] [datetime] NULL,
	[END_DATETIME] [datetime] NULL,
	[EBMID] [nvarchar](256) NOT NULL,
	[EBM_CREATION_DATE] [datetime] NOT NULL,
	[CREATE_DATE] [datetime] NULL,
	[CREATE_USER_ID] [nvarchar](60) NULL,
	[UPDATE_DATE] [datetime] NULL,
	[UPDATE_USER_ID] [nvarchar](60) NULL,
	[RECORD_STATE] [nvarchar](60) NULL,
 CONSTRAINT [PK_XXSW_ANZ_J_INTF_BILL_OF_MATERIALS] PRIMARY KEY CLUSTERED 
(
	[ROWID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XXSW_ANZ_J_INTF_INV_SHIPPER]    Script Date: 3/07/2023 10:01:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XXSW_ANZ_J_INTF_INV_SHIPPER](
	[ROWID] [bigint] IDENTITY(1,1) NOT NULL,
	[INSTALL_COUNTRY] [nvarchar](60) NOT NULL,
	[ORGANIZATION_ID] [int] NOT NULL,
	[RTL_LOC_ID] [int] NOT NULL,
	[EBMID] [nvarchar](256) NOT NULL,
	[SHIPPER_ID] [varchar](60) NOT NULL,
	[ORG_CODE] [varchar](30) NOT NULL,
	[ORG_VALUE] [varchar](60) NOT NULL,
	[SHIPPER_DESC] [varchar](254) NULL,
	[DISPLAY_ORDER] [int] NULL,
	[TRACKING_NUMBER_FLAG] [bit] NULL,
	[EBM_CREATION_DATE] [datetime] NOT NULL,
	[CREATE_DATE] [datetime] NULL,
	[CREATE_USER_ID] [nvarchar](60) NULL,
	[UPDATE_DATE] [datetime] NULL,
	[UPDATE_USER_ID] [nvarchar](60) NULL,
	[RECORD_STATE] [nvarchar](60) NULL,
 CONSTRAINT [PK_XXSW_ANZ_J_INTF_INV_SHIPPER] PRIMARY KEY CLUSTERED 
(
	[ROWID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XXSW_ANZ_J_INTF_WAREHOUSE]    Script Date: 3/07/2023 10:01:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XXSW_ANZ_J_INTF_WAREHOUSE](
	[ROWID] [bigint] IDENTITY(1,1) NOT NULL,
	[INSTALL_COUNTRY] [nvarchar](60) NOT NULL,
	[EBMID] [nvarchar](256) NOT NULL,
	[ORGANIZATION_ID] [int] NOT NULL,
	[PARTY_ID] [nvarchar](60) NOT NULL,
	[CUST_ID] [nvarchar](30) NOT NULL,
	[FIRST_NAME] [nvarchar](150) NULL,
	[MIDDLE_NAME] [nvarchar](60) NULL,
	[LAST_NAME] [nvarchar](150) NULL,
	[ORGANIZATION_NAME] [nvarchar](240) NULL,
	[FEDERAL_TAX_ID] [nvarchar](240) NULL,
	[ADDRESS1] [nvarchar](640) NULL,
	[ADDRESS2] [nvarchar](490) NULL,
	[CITY] [nvarchar](60) NULL,
	[STATE] [nvarchar](60) NULL,
	[POSTAL_CODE] [nvarchar](60) NULL,
	[COUNTRY] [nvarchar](60) NULL,
	[TELEPHONE_NUMBER] [nvarchar](40) NULL,
	[TELEPHONE4] [nvarchar](40) NULL,
	[EMAIL_ADDRESS] [nvarchar](2000) NULL,
	[COMMERCIAL_CUSTOMER_FLAG] [bit] NULL,
	[B2BPARENTCUSTOMERID] [nvarchar](250) NULL,
	[B2BTenderDefault] [nvarchar](30) NULL,
	[B2BSalesRep1TerritoryCode] [nvarchar](60) NULL,
	[B2BPoRequired] [bit] NULL,
	[B2BPreferredLocale] [nvarchar](10) NULL,
	[B2BCustomerTypeCode] [nvarchar](30) NULL,
	[B2BCustomerStatusCode] [nvarchar](30) NULL,
	[B2B_Credit_Limit_Type] [nvarchar](30) NULL,
	[cacGroup] [nvarchar](150) NULL,
	[cacCode] [nvarchar](150) NULL,
	[SwpChannelCode] [nvarchar](30) NULL,
	[SwpProfileClass] [nvarchar](30) NULL,
	[SwpClassification] [nvarchar](240) NULL,
	[SwpBusinessPurpose] [nvarchar](150) NULL,
	[SwpIdDocumentType] [nvarchar](150) NULL,
	[EBM_CREATION_DATE] [datetime] NOT NULL,
	[CREATE_DATE] [datetime] NULL,
	[CREATE_USER_ID] [nvarchar](60) NULL,
	[UPDATE_DATE] [datetime] NULL,
	[UPDATE_USER_ID] [nvarchar](60) NULL,
	[RECORD_STATE] [nvarchar](60) NULL,
	[XXSW_ANZ_TAX_EXEMPTION_FLAG] [bit] NULL,
	[RECORD_STATE_TAX_EXEMPTION] [nvarchar](60) NULL,
	[EXPIRATION_DATE_TAX_EXEMPTION] [datetime] NULL,
	[B2B_SUPPRESS_PRICE_FLAG] [bit] NULL,
 CONSTRAINT [PK_XXSW_ANZ_J_INTF_WAREHOUSE] PRIMARY KEY CLUSTERED 
(
	[ROWID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XXSW_ANZ_J_TAX_TAX_EXEMPTION]    Script Date: 3/07/2023 10:01:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XXSW_ANZ_J_TAX_TAX_EXEMPTION](
	[ROWID] [bigint] IDENTITY(1,1) NOT NULL,
	[INSTALL_COUNTRY] [nvarchar](60) NOT NULL,
	[ORGANIZATION_ID] [int] NOT NULL,
	[EBMID] [nvarchar](256) NOT NULL,
	[EBM_CREATION_DATE] [datetime] NOT NULL,
	[TAX_EXEMPTION_ID] [nvarchar](60) NOT NULL,
	[PARTY_ID] [bigint] NULL,
	[CERT_NBR] [nvarchar](30) NULL,
	[REASCODE] [nvarchar](30) NULL,
	[CERT_HOLDER_NAME] [nvarchar](60) NULL,
	[CERT_COUNTRY] [nvarchar](2) NULL,
	[EXPIRATION_DATE] [datetime] NULL,
	[CERT_STATE] [nvarchar](30) NULL,
	[NOTES] [nvarchar](254) NULL,
	[ADDRESS_ID] [nvarchar](60) NULL,
	[PHONE_NUMBER] [nvarchar](30) NULL,
	[REGION] [nvarchar](30) NULL,
	[DIPLOMATIC_TITLE] [nvarchar](60) NULL,
	[CERT_HOLDER_FIRST_NAME] [nvarchar](30) NULL,
	[CERT_HOLDER_LAST_NAME] [nvarchar](30) NULL,
	[CREATE_DATE] [datetime] NULL,
	[CREATE_USER_ID] [nvarchar](60) NULL,
	[UPDATE_DATE] [datetime] NULL,
	[UPDATE_USER_ID] [nvarchar](60) NULL,
	[RECORD_STATE] [nvarchar](60) NULL,
 CONSTRAINT [PK_XXSW_ANZ_J_TAX_TAX_EXEMPTION] PRIMARY KEY CLUSTERED 
(
	[ROWID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[J_INTF_NON_PHY_ITEM] ADD  DEFAULT ((0)) FOR [DISALLOW_SEND_SALE_FLAG]
GO
ALTER TABLE [dbo].[J_INTF_NON_PHY_ITEM] ADD  DEFAULT ((0)) FOR [DISALLOW_SPECIAL_ORDER_FLAG]
GO
ALTER TABLE [dbo].[J_INTF_NON_PHY_ITEM] ADD  DEFAULT ((0)) FOR [NOT_INVENTORIED_FLAG]
GO
ALTER TABLE [dbo].[J_INTF_NON_PHY_ITEM] ADD  DEFAULT ((0)) FOR [PROMPT_FOR_PRICE_FLAG]
GO
ALTER TABLE [dbo].[J_INTF_NON_PHY_ITEM] ADD  DEFAULT ((0)) FOR [B2BINCLUDE_IN_FREIGHT_TOTAL]
GO
ALTER TABLE [dbo].[J_INTF_NON_PHY_ITEM] ADD  DEFAULT ((0)) FOR [B2BINCLUDE_IN_LABOR_TOTAL]
GO
ALTER TABLE [dbo].[J_INTF_ORDERS] ADD  DEFAULT CONVERT(nvarchar(23), GETDATE(), 121) FOR [EBM_CREATION_DATE]
GO
ALTER TABLE [dbo].[J_INTF_ORDERS_LINE_ITEMS] ADD  DEFAULT CONVERT(nvarchar(23), GETDATE(), 121) FOR [EBM_CREATION_DATE]
GO
ALTER TABLE [dbo].[J_INTF_ORDERS_LINE_ITEMS_PO] ADD  DEFAULT CONVERT(nvarchar(23), GETDATE(), 121) FOR [EBM_CREATION_DATE]
GO
ALTER TABLE [dbo].[J_INTF_ORDERS_PO] ADD  DEFAULT CONVERT(nvarchar(23), GETDATE(), 121) FOR [EBM_CREATION_DATE]
GO
ALTER TABLE [dbo].[XXSW_ANZ_J_INTF_B2B_ITEM_FREIGHT_CODE] ADD  DEFAULT ((0)) FOR [HAZMAT]
GO
ALTER TABLE [dbo].[XXSW_ANZ_J_INTF_INV_SHIPPER] ADD  DEFAULT ('*') FOR [ORG_CODE]
GO
ALTER TABLE [dbo].[XXSW_ANZ_J_INTF_INV_SHIPPER] ADD  DEFAULT ('*') FOR [ORG_VALUE]
GO
ALTER TABLE [dbo].[XXSW_ANZ_J_INTF_INV_SHIPPER] ADD  DEFAULT ((0)) FOR [TRACKING_NUMBER_FLAG]
GO
